Repository meghakarale/github_project: changes, and which Jenkins stages are due for each by the changed paths.
All: split_data, train, evaluate, Build Image, master-branch-stuff

split_data:
              steps {
                  echo 'Running split datajob'
                  build 'splitdata'
                  }
              

train:
              steps {
                  echo 'Running train job'
                  build 'train'
                  }
              

evaluate:
              steps {
                  echo 'Running evaluate Job'
                  build 'evaluate'
                   }
              

Build Image:
  	        steps {
  	        bat 'docker build -t irismodel:v1 .'
  	        }
  	   

master-branch-stuff:
      steps {
          echo 'run this stage - ony if file1 or file2 changes'
      }

Update flower_data.csv
  flower_data.csv
Due: split_data, train, evaluate, Build Image

Update Jenkinsfile
  Jenkinsfile
Due: none

Update Dockerfile
  Dockerfile
Due: Build Image

Add files via upload
  IrisModel.model
Due: none

Delete IrisModel.model
  IrisModel.model
Due: none

Update Iris_flasgger_appRequest.py
  Iris_flasgger_appRequest.py
Due: none

Delete Iris_flasgger_appRequest.py
  Iris_flasgger_appRequest.py
Due: none

Add files via upload
  appRequest_stream.py
Due: none

Update requirements.txt
  requirements.txt
Due: none

Path conditions:
  split_data: any of: flower_data.csv
  train: (any of: params.yaml) or (any of: flower_data.csv)
  evaluate: (any of: params.yaml) or (any of: flower_data.csv)
  Build Image: ((any of: Dockerfile) or (any of: params.yaml)) or (any of: flower_data.csv)
  master-branch-stuff: (any of: file1.txt) or (any of: file2.txt)
